/vendor/
composer.lock
.phpunit.result.cache
/build/
/coverage/
.env
.env.*
!.env.example
.DS_Store
Thumbs.db
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.tmp
*.temp
